<%= form_for @user do |f| %>
  <div class="sign_in_form">
    <%= f.label :email %>
    <%= f.text_field  :email %>
  </div>
  <div class="sign_in_form">
    <%= f.label :password %>
    <%= f.password_field  :password %>
  </div>
  <div class="btn btn-primary">
    <%= f.submit %>
  </div>
<% end %>
